<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - AppSemTemplate</title>
    <link rel="stylesheet"
        href="~/lib/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-warning">
    <a class="d-flex justify-content-center" asp-controller="Home" asp-action="Index" >teste</a>
    <div class="container">
        <main role="main" class="d-flex fustify-content-center pb-3">
            @RenderBody()
        </main>
    </div>
</body>
<script  src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>